@import 'boostrap/dist/css/bootstrap.css';

.navbar {
    background-color: black !important;
  } 

.nav-link {
    color: white !important;
}

#logo {
    float: left;
    font-size: 1.7cm;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-container {
    margin-top: 25px;
}

.container {
    background-image: asset-url('bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

/* Other Classes for Page Styling */
